<div class="body">
  <div class="navbar-body">
    <app-navbar-client class="component-app-navbar-commercial"></app-navbar-client>
  </div>
  <div class="credentials">
    <app-credentials-client class="credentials-component-config" [status]="userData.userTypeDescription" [fullName]="userData.name" [cpf]="userData.cpf"></app-credentials-client>
  </div>
  <div class="content">
    <div class="show-middle">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

