<div class="body-navbar-component">
  <div class="logo-area">
    <div class="itens">
      ProLife Cli Application
    </div>
  </div>
  <div class="menu-itens-area">
    <div class="itens">
      Produtos
    </div>
    <div class="itens">
      Quem nós somos
    </div>
    <div class="itens">
      Contato
    </div>
    <a class="itens" href="http://localhost:3000/" target="_blank">
      Tutorial
    </a>
  </div>
  <div class="authentication-area">
    <div routerLink="/login" class="button-login">
      Login
    </div>
    <div class="button-logout" (click)="logout()">
      Logout
    </div>
  </div>
</div>
