.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  flex: 1;
  margin-top: 15px;

  .title{
    color: rgb(0, 0, 0);
    font-family: Philosopher;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .text-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    min-height: 0;

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
      width: 60%;
      margin-left: 20px;
      margin-right: 20px;
      text-align:justify;
      font-family: roboto;
      font-size: 20px;
      font-weight: 400;

     .text{

     }

    .info-text{
      margin-top: 25px;

      a{

        &:hover{
          cursor: pointer;
          color: blue;
        }
      }
    }

    .buttons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;

      .button{
        height: 15px;
        width: 15px;
        background-color: black;
        border-radius: 10px;
        margin-top: 30px;
        margin-right: 10px;

        &:hover{
          cursor: pointer;
          background-color: aqua;
        }
      }
    }

    }

    .images{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
      width: 40%;
      height: 400px;
      background-color: red;
    }
  }

  .container-products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100%;

    .products{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
      flex: 1;
      margin: 30px 30px 30px 30px;
    }
  }
}
